<div id="container">Course List</div>
<select class="form-control" onchange="window.location.href=this.value">
    <option value="courseSelection.html"> Select your course</option>
    <option value="CS12401.html">CS12401</option>
    <option value="CS116WE1.html">CS116WE1</option>
    <option value="BIOL13204.html">BIOL13204</option>
    <option value="BIOL23201.html">BIOL23201</option>
</select>
<button type="back" class="btn btn-danger"><a href="../Angular/Index.html">Re-Register</a></button>
</div>​
